@inject IOptions<BlazorImageConfig> Options
@inject IGenerateImageDataService ImageDataService
@inject IFileService FileService

<div class="developer-info-container">

    @if (RendererInfo.IsInteractive)
    {
        <button type="button"
                class="info-toggle"
                aria-label="Show Image Info Popup"
                aria-expanded="@_showDetails.ToString().ToLower()"
                @onclick="ToggleDetails">
            <span class="info-icon">ℹ️</span>
        </button>
        @if (_showDetails)
        {
            <div>

                <div class="developer-info-popup-overlay show" @onclick="ClosePopup"></div>
                @PopupContent
            </div>
        }
    }
    else
    {
        <button type="button"
                class="info-toggle"
                aria-label="Show Image Info Popup"
                onclick="toggleDeveloperInfo(this)">
            <span class="info-icon">ℹ️</span>
        </button>

        <div class="developer-info-popup-overlay" onclick="closeDeveloperInfo(this)"></div>
        <div id="_popContent">
            @PopupContent
        </div>
    }

</div>
@code {


    [Parameter] public Image ImageComponent { get; set; } = default!;
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;

    private bool _showDetails = false;

    private void ToggleDetails()
    {
        _showDetails = !_showDetails;
    }

    private void ClosePopup()
    {
        _showDetails = false;
    }

    private string GetImageProccessOutputDir(string fileName)
    {
        var path = FileService.GetRootPath(Path.Combine(Options.Value.OutputDir, fileName));
        return path;
    }

    private string FileSizeDisplay => FileService.GetFileSizeInKb(ImageComponent.Src) + " kb";
    private string QualityDisplay => ImageComponent.Quality?.ToString() ?? Options.Value.DefaultQuality.ToString();
    private string FormatDisplay => ImageComponent.Format?.ToMimeType() ?? Options.Value.DefaultFileFormat.ToMimeType();
    private string LoadingDisplay => !ImageComponent.Priority ? "lazy" : "eager";

    private RenderFragment PopupContent => (__builder) =>
    {
        <div class="@($"developer-info-popup {(RendererInfo.IsInteractive && _showDetails ? "show" : "")}")">
            <div class="popup-header">
                <h6 class="info-header">Image Optimization Details</h6>
                @if (RendererInfo.IsInteractive)
                {
                    <button type="button" class="close-button" aria-label="Close Image Info" @onclick="ClosePopup">
                        <span aria-hidden="true">×</span>
                    </button>
                }
                else
                {

                    <button type="button" class="close-button" aria-label="Close Image Info" onclick="closeDeveloperInfo(this)">
                        <span aria-hidden="true">×</span>
                    </button>
                }
            </div>

            <div class="image-size-info">
                <div class="size-header">
                    <span>Original Size:</span>
                    <span class="info-value">@FileSizeDisplay</span>
                </div>

                <div class="size-header">
                    <span>Optimized Directory:</span>
                    <span class="recommended-size">@Options.Value.OutputDir</span>
                </div>

                <div class="size-details">
                    <span class="size-url">@ImageComponent.Src</span>

                </div>
            </div>
            <ul class="developer-info-list">

                <li><strong>Render Mode:</strong> @RendererInfo.Name</li>
                <li><strong>Interactive Mode:</strong> @(ImageComponent.EnableInteractiveState)</li>




                <li class="info-separator"></li>
                <li><strong>Quality:</strong> <span class="info-value">@QualityDisplay</span></li>
                <li><strong>Format:</strong> <span class="info-value">@FormatDisplay</span></li>
                <li><strong>Loading:</strong> <span class="info-value">@LoadingDisplay</span></li>
                <li class="info-separator"></li>
                <li><strong>Alt Text:</strong> <span class="info-value">@ImageComponent.Alt</span></li>
                <li><strong>CSS Class:</strong> <span class="info-value">@(ImageComponent?.CssClass ?? "---")</span></li>
                <li><strong>Width:</strong> <span class="info-value">@(ImageComponent?.Width ?? 0)</span></li>
                <li><strong>Height:</strong> <span class="info-value">@(ImageComponent?.Height ?? 0)</span></li>

                @if (ImageComponent != null && ImageComponent.AdditionalAttributes != null && ImageComponent.AdditionalAttributes.Any())
                {
                    <li>
                        <strong>Additional Attributes:</strong>
                        <ul class="attributes-list">
                            @foreach (var attr in ImageComponent.AdditionalAttributes)
                            {
                                <li><span class="attribute-key">@attr.Key</span> <span class="attribute-value">@attr.Value</span></li>
                            }
                        </ul>
                    </li>
                }



                <li class="info-separator"></li>


                @foreach (var width in Options.Value.Sizes)
                {

                    var fileSrc = GetImageProccessOutputDir(ImageDataService.GenerateImageName(ImageComponent!.Src, width, ImageComponent.Quality, ImageComponent.Format));
                    var oldSize = FileService.GetFileSizeInKb(ImageComponent.Src);
                    var newSize = FileService.GetFileSizeInKb(fileSrc ?? "");
                    var reduction = HelpersMethods.CalculateReductionPercentage(oldSize,
                    newSize);

                    <li class="image-size-info">
                        <div class="size-header">
                            <span class="size-label">Screens up to @(width)px (<code>@($"{width}w")</code>)</span>

                        </div>
                        <ul>
                            <li class="size-details">
                                @if (oldSize <= newSize)
                                {
                                    <div>
                                        <span class="size-reduction-min">
                                            Optimized Size: <code>@(newSize.ToString() + "KB")</code> <strong>(@reduction% reduction)</strong>
                                        </span>

                                    </div>
                                }
                                else
                                {
                                    <code>@(newSize.ToString() + "KB")</code>

                                    <span class="size-reduction">
                                        <strong>@reduction% reduction 🔥</strong>
                                    </span>
                                }
                            </li>
                        </ul>
                    </li>
                }

            </ul>
        </div>
    };
}