@preservewhitespace true
@attribute [StreamRendering]


<figure class="@_figureClass" style="@_containerStyle">
   
    @if (!_isLoadComplete)
    {
        <div class="loading-placeholder" role="status"
             aria-live="polite"
             aria-label="@($"Loading: {_loadingPercentage}%")">
            <div class="spinner-border" role="status" aria-hidden="true"></div>
            <p>@(_loadingPercentage)%</p>
            <span>@_statusMessage</span>
        </div>
    }
    else if (!string.IsNullOrEmpty(_error))
    {
        <div class="error-message" role="alert">
            <img src="@GetSafeDefaultImage()"
                 class="lazyload-error"
                 alt="Image Not Found" />

            <div>Failed to load image: @_error</div>
        </div>
    }
    else
    {
        <picture>
            <source srcset="@_srcset"
                    data-srcset="@_dataSrcset"
                    sizes="@_sizesAttr"
                    type="@_mimeType" />

            <img src="@_fallbackImageSrc"
                 alt="@Alt"
                 title="@Title"
                 width="@Width"
                 height="@Height"
                 class="@_loadingClass @CssClass"
                 loading="@LoadingType"
                 style="@Style"
                 @ref="_imageRef"
                 @attributes="AdditionalAttributes" />
        </picture>
    }

    @if (!string.IsNullOrEmpty(Caption))
    {
        <figcaption class="@(string.IsNullOrEmpty(CaptionClass) ? "default-caption" : CaptionClass)">@Caption</figcaption>
    }
</figure>

@if (EnableDeveloperMode)
{
    <DeveloperInfoPanel ImageComponent="this" />
}

